@font-face {
  font-family: 'Source Code';
  src: url('fonts/SourceCodePro-Regular.ttf');
}

body {
  background: #404040;
  color: #ccc;
  font-size: 18px;
  font-family: 'Source Code';
}

#sidebar {
  background-color: #ebebeb;
  color: #000;
  padding: 2rem;
  position: sticky;
  height: 100vh;
  box-shadow: 0px 3px 15px #252525;
}

#my-name {
  margin: 1rem 0;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

#skills {
  list-style-type: square;
  list-style-position: outside;
  padding: 0;
  font-size: 14px;
}

.term {
  background: #313131;
  color: #fff;
  padding: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 20px #252525;
}

.section-title {
  color: #4ec671;
  margin: 1rem 0 2rem 0;
  font-size: 25px;
}

.cards-space {
  padding: 0 5rem;
}

h4 {
  color: orange;
  margin-bottom: 1rem;
}

dd {
  margin-bottom: 1rem;
}

.side-card-text {
  border: 1px solid white;
  padding: 1rem;
  width: 100%;
}

.side-card {
  margin-bottom: 1rem;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}