@font-face {
  font-family: 'Source Code';
  src: url('fonts/SourceCodePro-Regular.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #404040;
  color: #e0e0e0;
  font: 100% 'Source Code';
  display: grid;
  grid-template-columns: 1fr auto;
}

aside {
  background-color: #ebebeb;
  color: #000;
  padding: 1rem 1rem;
  height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

aside h1 {
  font-size: 1.2rem;
}

aside ul {
  margin-top: 3rem;
  padding: 0;
}

aside ul li {
  list-style-type: none;
}

aside footer {
  position: absolute;
  bottom: 1rem;
}

.circle-img {
  border-radius: 100%;
}

.term-header {
  background: #313131;
  color: #fff;
  padding: 6rem 3rem;
  margin-bottom: 6rem;
}

.term-section-title {
  color: #4ec671;
  padding: 1rem;
  width: 90%;
  margin: auto;
  border-radius: 0 0.5rem 0 0;
}


@media screen and (max-width: 991px) {
  aside {
    position: relative;
    text-align: center;
    top: 0;
  }
  aside li {
    display: inline;
  }
  aside footer {
    display: block;
  }
  body {
    display: block;
  }
}
/* 
@media only screen and (max-width: 676px) {
  aside {
    position: relative;
    text-align: center;
  }
  aside li {
    display: inline;
  }
  body {
    display: block;
  }
}

@media only screen and (max-width: 479px) {
  aside {
    position: relative;
    text-align: left;
  }
  aside li {
    display: block;
  }
  body {
    display: block;
  }
} */